@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  font-size: large;
}

  button{
    color: beige;
   text-decoration: underline;
   box-shadow: 0 0 10px
  }
 
  .homepage{
    color: #ededed;
  };

  .list{
     display: grid
  }

  .card{
    background-color: rgb(143, 159, 145); 
    height: 225px;
    width: 300px;
  }
  
  .list{
    background-color: rgb(42, 42, 110);
  }
